body {
  background-color: #000000;
}

#div1 {
  background-image: url(billeder/powv3.jpg);
}

#div2 {
  background-color: black
}

h1 {
  text-align: center;
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h1, h2, h3 {
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.test1 {
  width: 200px;
  height: 400px;
  border: 10px solid black;
  display: inline;
  float: left;
  text-align: center;
  color: red;
  background-color: gray;
}

.test2 {
  width: 187px;
  height: 330px;
  border: 10px solid black;
  float: left;
  display: inline;
  background-color: gray;
  color: red;
  padding: 10px;
}

td {
  border: 2px solid black;
  width: 75px;
  height: 15px;
  background-color: white;
  text-align: center;
}

th {
  border: 2px solid black;
  width: 75px;
  height: 20px;
  background-color: white;
  text-align: center;
}

input {
  border: 2px solid black;
}

textarea {
  border: 2px solid black;
}
